<section id="contato" class="flex-column text-center">
  <div class="container my-auto">
    <span class="text-white fw-bold display-5 text-center">Contato</span>

    <div class="d-flex justify-content-center align-items-center mt-5 fs-5">
      <i class="bi bi-telephone"></i>
      <span class="text-white ps-2">(49) 9 9197-8655</span>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 fs-5">
      <i class="bi bi-envelope-at"></i>
      <span class="text-white ps-2">&#103;&#97;&#98;&#114;&#105;&#101;&#108;&#107;&#105;&#114;&#115;&#99;&#104;&#110;&#101;&#114;&#50;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</span>
    </div>

    <div class="d-flex justify-content-center align-items-center mt-3 fs-5">
      <i class="bi bi-pin-map"></i>
      <span class="text-white ps-2">Lages - SC - Brasil</span>
    </div>

    <div class="d-flex justify-content-center mt-5">
      <a target="_blank" href="https://github.com/gkirschnxr" class="bg-white rounded-circle d-flex align-items-center justify-content-center space-between me-2" style="width: 43px; height: 43px;">
        <img src="github.svg" alt="Github logo" style="width: 45px; height: 45px;">
      </a>

      <a target="_blank" href="https://www.linkedin.com/in/gabriel-kirschner/" class="bg-white rounded-3 d-flex align-items-center justify-content-center ms-2" style="width: 45px; height: 45px;">
        <img src="linkedin.svg" alt="Linkedin logo" style="width: 45px; height: 45px;">
      </a>
    </div>    
  </div>
</section>