@use 'bootstrap' as *;
@use 'bootstrap-icons' as *;
@use "sass:color";

$cor-principal: #ec6afa;
$cor-secundaria: #6d2bc2;
$cor-hover: #5d0479;

$cor-background-1: #6d2bc2;
$cor-background-2: #242527;

.app-navbar {
  background-color: rgba($color: $cor-background-1, $alpha: .9);
  color: #fff;
  transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
  backdrop-filter: saturate(120%) blur(6px);

  .nav-link,
  .navbar-brand {
    color: #fff;

    &:hover { color: lighten(#fff, 10%); }
  }

  .navbar-toggler {
    border-color: rgba(#fff, .25);
  }

  .navbar-toggler-icon {
    filter: invert(100%);
  }

  &.nav-on-sobre {
    background-color: $cor-background-2;
    color: #fff;
    box-shadow: none;
    backdrop-filter: none;

    .nav-link,
    .navbar-brand { color: #fff; }
    .nav-link:hover { color: lighten(#fff, 12%); }
  }
}

section {
    display: flex;
    min-height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
}

.img-flex {
    position: relative;
    top: -20px;
    right: 10px;
}

#sobre {
  position: relative;
  overflow: hidden;
  background-color: $cor-background-2;

  .d-flex.flex-column.fs-5.my-auto {
    &::after {
      content: '';
      background-image: url('assets/quote.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      opacity: 1;

      position: absolute;
      top: 50%;
      transform: translateY(-170px);
      left: 5vw;

      width: 500px;
      height: 500px;
      z-index: -1;

      @media (max-width: 576px) { display: none; }
    }
  }
}

.app-background-secundario {
    background-color: $cor-background-1;
}

.app-banner-text {
    background: linear-gradient(90deg, rgba(236, 65, 173, 0.906), rgba(236, 200, 254, 0.925));
    background-clip: text;
    color: transparent;
}

.app-btn-principal {
    background-color: $cor-principal;

    &:hover {
        background-color: $cor-hover;
    }
}

.app-bg-foto {
    background: linear-gradient(90deg, rgba(177, 61, 134, 0.906), rgba(210, 157, 236, 0.925));
    border-radius: 33% 67% 53% 47% / 66% 41% 59% 34%;
    height: 30rem;
    margin-right: 3rem;
    overflow: hidden;
    width: 30rem;
}